In [1]:
import pandas as pd

df = pd.read_csv('../data/student+performance/student-mat.csv', sep=';', encoding='utf-8')

X = df[['studytime', 'failures', 'absences']]
y = df['G3']

In [2]:
X.shape

(395, 3)

In [3]:
X

     studytime  failures  absences
0            2         0         6
1            2         0         4
2            2         3        10
3            3         0         2
4            2         0         4
..         ...       ...       ...
390          2         2        11
391          1         0         3
392          1         3         3
393          1         0         0
394          1         0         5

[395 rows x 3 columns]

In [4]:
y

0       6
1       6
2      10
3      15
4      10
       ..
390     9
391    16
392     7
393    10
394     9
Name: G3, Length: 395, dtype: int64